# Environnement virtuel Python
venv/
.venv/
path/to/venv/
bin/
lib64/
include/
pyvenv.cfg

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
*.exe
installer_src/game.zip
