body {
    background-color: rgb(89, 149, 165);/*89, 149, 165*/
    background-color: rgb(89, 149, 165);/*89, 149, 165*/
    background-color: rgb(89, 149, 165);/*89, 149, 165*/
    color : white
}
.en_tete{
    display: grid;
    grid-auto-flow: column;     /* éléments en ligne */
    grid-auto-columns: 1fr;     /* 👈 chaque item = 1 fraction */

    align-items: center;
    background-color: rgb(97, 161, 173);/*89, 149, 165*/
    padding: 00px;
    border-radius: 8px;
    margin: 20px;
    list-style: none;
}


.en_bas{
    background-color:rgb(97, 161, 173);/*old color = 120, 160, 230*/
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    align-content: center;
}

footer{
    background-color: rgb(111, 176, 189);/*123, 140, 234*/
}
.grille-personnes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}


.card-personne {
    background: #8e52a3;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card-personne:hover {
    transform: scale(1.03);
}

.card-personne img {
    width: 120px;
    height: 120px;
    border-radius: 50%;  
    object-fit: cover;
    margin-bottom: 15px;
}

.card-personne h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.card-personne ul {
    list-style: none;
    padding: 0;
}

.card-personne li {
    margin: 6px 0;
    font-size: 0.95em;
    color: #f60887
}
.card5 {
    grid-column: 1 / 3;          
    justify-self: center;        
    width: 60%;                  

}
.page {
  position: relative; /* référence pour l’image */
}

.image_cote {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre horizontalement */
  text-align: center;
}

#logo{
    display: block;
    width: 120px;
    height: 120px;

    background-image: url("images/IonFall_image.png");
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.2s;
}

#logo:hover{
	background-image: url("images/IonFall2_image.png");
}

.logo-item{
    margin-right: 20px;
}

nav ul li a{
    color: #00FFF3;
    text-decoration: none;
}

nav ul li a:visited{
    color: #00FFF3;
}

nav ul li a:hover{
    color: #8e52a3;
}

nav ul li a:active{
    color: #8e52a3;
}
