body {
    background-color: rgb(13,29,69);/*89, 149, 165*/
    color : #F2FFFE ;
}
.en_tete{
    display: grid;
    grid-auto-flow: column;     /* éléments en ligne */
    grid-auto-columns: 1fr;     /* 👈 chaque item = 1 fraction */

    align-items: center;
    background-color: rgb(36, 46, 84);/*89, 149, 165||97, 161, 173||13,29,69,*/
    padding: 00px;
    border-radius: 8px;
    margin: 20px;
    list-style: none;
}


.en_bas{
    background-color:rgb(36, 46, 84);/*old color = 120, 160, 230*/
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    align-content: center;
}

footer{
    background-color: rgb(36, 46, 84);/*123, 140, 234*/
}
.grille-personnes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}


.card-personne {

    background: #373E62; /* couleur arriere plan => old #668ad7*/

    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card-personne:hover {
    transform: scale(1.03);
}

.card-personne img {
    width: 120px;
    height: 120px;
    border-radius: 50%;  
    object-fit: cover;
    margin-bottom: 15px;
}

.card-personne h2 {
    font-size: 1.2em;
	text-align: center ;
    margin-bottom: 10px;
}

.card-personne ul {
    list-style: none;
    padding: 0;
	text-align: center ;
}

.card-personne li {
    margin: 6px 0;

    font-size: 0.95em;
    color: #F2FFFE ;       /*-------*/
    font-size: 1.4em;
	text-align: center ;
}
.card5 {
    grid-column: 1 / 3;          
    justify-self: center;        
    width: 60%;                  

}
.page {
  position: relative; /* référence pour l’image */
}

.image_cote {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre horizontalement */
  text-align: center;
}

#logo{
    display: block;
    width: 120px;
    height: 120px;

    background-image: url("images/IonFall_image.png");
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.2s;
}

#logo:hover{
	background-image: url("images/IonFall2_image.png");
}
/*version haut*/
.logo-item{
    margin-right: 20px;
}

nav ul li a{
    color: #00FFF3;
    text-decoration: none;
}

nav ul li a:visited{
    color: #00FFF3;
}

nav ul li a:hover{
    color: #8e52a3;
}

nav ul li a:active{
    color: #8e52a3;
}
/*version generales*/
a{
    color: #00FFF3;          /* couleur normale */
    text-decoration: none;
}

a:visited{
    color: #00FFF3;          /* même couleur que normal */
}

a:hover{
    color: #f978f0;          /* au survol */
}

a:active{
    color: #8e52a3;          /* au clic */
}
/*-----BANDEAU TRAIT--------*/
.separateur{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.separateur::before,
.separateur::after{
    content: "";
    flex: 1;
    height: 4px;
    background: #F2FFFE;
}

.separateur span{
    padding: 0 15px;
    color: #F2FFFE;
    font-weight: bold;
}
/*alinea pour les texte*/
.alinea{
	font-size: 1.6em;
	color: #F2FFFE;
    text-align: left;
      /*alinéa plusieur ligne */            /*text-indent: 30px; la premiere ligne*/ 
	margin-left: 100px ;
	margin-right: 100px ;
	text-indent: 30px;
}

.alinea_sans_indent{
	font-size: 1.6em;
	color: #F2FFFE;
    text-align: left;
      /*alinéa plusieur ligne */            /*text-indent: 30px; la premiere ligne*/ 
	margin-left: 100px ;
	margin-right: 100px ;
}
.alinea_indent{
	font-size: 1.6em;
	color: #F2FFFE;
    text-align: left;
      /*alinéa plusieur ligne */            /*text-indent: 30px; la premiere ligne*/ 
	text-indent: 50px;
	margin-left: 100px ;
	margin-right: 100px ;
}
.centre_texte{
	text-align : center ;
}

