body {
    background-color: rgb(127, 167, 241);
    color : white
}
nav ul {
    background-color:rgb(120, 160, 230);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    align-content: center;
}

footer{
    background-color: rgb(123, 140, 234);
}